#anchorPane { 
    -fx-border-width: 2px;
    -fx-border-color: chartreuse;
}
#Pane {
    -fx-border-width: 2px;

    /* didn't work */
   -fx-hgap: 100%;
   -fx-vgap: 100%;
}

#ScrollPane {
    -fx-border-width: 2px;

    /* didn't work */
   -fx-hgap: 100%;
   -fx-vgap: 100%;
}